<h1>My Burrito Store</h1>
<h2>Entries</h2>

<p><b>&gt; <a href="/">Home</a></b></p>

{{#if entries}}
<ul>
{{#each entries}}
<li><a href="revisions?idserver={{uriencode ../idServer}}&entry={{uriencode this}}">{{this}}</a></li>
{{/each}}
</ul>

{{else}}

<p>Yes we have no entries for {{idServer}}!</p>
{{/if}}
