<h2>Entry {{entry}}</h2>

<p><b>&gt; <a href="/">Home</a> &gt; <a href="entries?idserver={{uriencode idServer}}">{{idServer}}</a></b></p>

{{#if revisions}}
<ul>
{{#each revisions}}
<li><a href="variants?idserver={{uriencode ../idServer}}&entry={{uriencode ../entry}}&revision={{uriencode this}}">{{this}}</a></li>
{{/each}}
</ul>

{{else}}

<p>Yes we have no revisions for {{idServer}} / {{entry}}!</p>
{{/if}}
