<h2>Entry {{entry}}/{{revision}}</h2>

<p><b>&gt; <a href="/">Home</a> &gt; <a href="entries?idserver={{uriencode idServer}}">{{idServerName}}</a> &gt; <a href="revisions?idserver={{uriencode idServer}}&entry={{uriencode entry}}">{{entry}}</a></b></p>


{{#if variants}}
<ul>
{{#each variants}}
<li><a href="variant?idserver={{uriencode ../idServer}}&entry={{uriencode ../entry}}&revision={{uriencode ../revision}}&variant={{uriencode this}}">{{this}}</a></li>
{{/each}}
</ul>

{{else}}

<p>Yes we have no variants for {{idServer}} / {{entry}} / {{revision}}!</p>
{{/if}}
